@import url(https://fonts.googleapis.com/css?family=Courgette);

/*----------------------------------------------------------------*/
/* ----------------------  Basic Set Up  -----------------------  */
/*----------------------------------------------------------------*/

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    /*font-size: 3.2rem;*/
    text-rendering: optimizeLegibility;
}

.row {
    margin: 0 auto;
}

/*----------------------------------------------------------------*/
/*   ----------------------   Headings   ---------------------    */
/*----------------------------------------------------------------*/


.hero-text-box h1,
h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
    margin-top: 0;
}
h4 {
    font-size: 90%;
    color: #fafafa !important;
    word-spacing: 3px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.second-box h3 {
    text-align: right;
}

/*----------------------------------------------------------------*/
/*   -------------------  Paragraphs   -----------------------    */
/*----------------------------------------------------------------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.long-copy1 {
    line-height: 145%;
    margin-top: 5px;
    margin-bottom: 0px;
}

/*----------------------------------------------------------------*/
/*   ----------------------   Buttons   ---------------------     */
/*----------------------------------------------------------------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300;
    width: 150px;
    border-radius: 200px;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #85b0d7;
    border: 1px solid #85b0d7;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #85b0d7;
    color: #85b0d7;
}

.btn:hover,
.btn:active {
    background-color: #85b0d7;
}

.btn-full:hover,
.btn-full:active {
    background-color: transparent;
    border: 1px solid #85b0d7;
    color: #85b0d7;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #85b0d7;
    color: #fff;
}

#button {
   background-color: #85b0d7; !important;
}

@media only screen and (max-width: 336px) {
.btn:link,
.btn:visited {
    margin: 0;
    }
}



/*----------------------------------------------------------------*/
/*   ----------------------   Header   ---------------------      */
/*----------------------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/succulents-003.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-text-box {

    position: absolute;
    text-align: center;
    top: 55%;
    margin: 0 auto;
    width: 100%;
    tranform: translate(-50%, -50%)
}
.hero-text-box h1 {

    margin-bottom: 10px;
    color: #cacaca;
    font-size: 5vw;
    text-shadow: 2px 2px 2px black;
    position: relative;
    font-family: Courgette;
    text-transform: none !important;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 0;
}

.main-nav.links {
    float: right;
    margin-right: 75px;
    list-style: none;
    margin-top: 50px;
}

ul.main-nav {
    margin-top: 69px !important;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    text-shadow: 1px 1px 2px black;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    text-shadow: 1px 1px 2px black;
    border-bottom: 2px solid #85b0d7;
}


@media only screen and (max-width: 716px) {
    .nav-bar-wrapper {
        text-align: center;
    }

    .logo {
        float: none;
    }

    .main-nav.links {
        float: none;
        margin-top: 20px !important;
    }
    .hero-text-box h1 {
        font-size: 6vw;
    }
}
@media only screen and (max-width: 336px) {
    .hero-text-box h1 {
        font-size: 10vw;
    }
}

/*----------------------------------------------------------------*/
/*  ------------------------ Section ---------------------------  */
/*----------------------------------------------------------------*/

section {
    padding-top: 80px;
    padding-bottom: 0;
    background-color: #fdfdfd !important;
}

.top-section {
    margin-bottom: 50px;
}

.twoDImage {
    margin-bottom: 30px;
}

.content-box {
    padding: 15px 0;
    margin: 30px 0;
    background-color: #f0f0f0; !important;
    border: 1px solid green;
    border-radius: 2px;
}

.thirdSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/succ-square-1500.jpg);
    background-size: cover;
    height: 108vh;
    padding-top: 30px;
    padding-bottom: 30px;
}

#show-me-more, #show-me-more-2, #show-me-more-3{
    right: 0 !important;
}

@media only screen and (max-width: 512px) {
.thirdSection{
    height: 110%
}
}


@media only screen and (max-width: 336px) {
 .thirdSection {
     height: auto;
     padding-top: 30px;
     padding-bottom: 30px;
     margin: 0 auto;

 }
}


/*----------------------------------------------------------------*/
/* ------------------------  Footer ----------------------------- */
/*----------------------------------------------------------------*/


Footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Green-leaves-of-aloe-plant-close-up.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: absolute;
}
@media only screen and (max-width: 512px) {
.sign-up {
width: 50% !important;
    }

}


@media only screen and (max-width: 336px) {
    Footer {
        background-size: 100% 50%;
        background-repeat: no-repeat;
    }

}

.sign-up {
    position: absolute;
    top: 55%;
    text-shadow: 1px 1px 1px black;
    margin-left: 12%;
    width: 100%;
}











